/*** Mixins & Default Styles ***/
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	display: none;
}

/*** Color Variables ***/
/*** Centering Hack ***/
/*** Header Styles ***/
header {
	width: 100vw;
	height: 100vh;
	background: #e64949;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/*** Navigation Styles ***/
nav {
	width: 100vw;
	height: 160px;
	background: #1a1a28;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: fixed;
	z-index: 10;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
nav.navShadow {
	-webkit-box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
	height: 100px;
}
nav.navShadow #word-mark {
	opacity: 0;
}

#brand,
#menu,
ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#brand {
	padding-left: 40px;
}

#logo {
	cursor: pointer;
}
#logo:hover {
	background: url(html/logohtml_r.png);
}

/*** Menu Styles ***/
#menu {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-right: 40px;
}

li {
	margin-left: 20px;
}
li a {
	color: black;
	width: 125px;
	height: 30px;
	background: #fff;
	display: block;
	border-radius: 90px;
	text-decoration: none;
	font-size: 135%;
}

#menu-toggle {
	width: 55px;
	height: 55px;
	background: #2c2c3c;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	display: none;
}
#menu-toggle:hover .bar {
	width: 25px;
}
#menu-toggle.closeMenu .bar {
	width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
	-webkit-transform: translateY(7px) rotate(45deg);
	transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
	-webkit-transform: scale(0);
	transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
	-webkit-transform: translateY(-7px) rotate(-45deg);
	transform: translateY(-7px) rotate(-45deg);
}

.bar {
	width: 25px;
	height: 2px;
	background: #fff;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
	width: 20px;
	margin: 5px 0;
}
.bar:last-child {
	width: 15px;
}

/*** Hero Section Styles ***/
#hero-section {
	width: 100vw;
	height: calc(100vh - 160px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 160px;
}

.block-name{
	margin: 5px 0 5px 0;
	width: 105px;
	height: 38px;
	background: #fff;
	position: absolute;
	border-radius: 13em 0.5em/1em 0.5em;
}

.block-info {
	width: 500px;
	height: 500px;
	background: #fff;
	border-radius: 4%;
	position: relative;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

p, center { 
	margin: 10px 10px 10px 10px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
/*#head-line:before, #head-line:after {
	content: '';
	height: 30px;
	border-radius: 90px;
}
#head-line:before {
	width: 360px;
	background: #fff;
	position: absolute;
	top: -60px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
#head-line:after {
	width: 200px;
	background: #fff;
	position: absolute;
	left: 50%;
	bottom: -60px;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	}*/

	/*** Section Styles ***/
	section {
		width: 100vw;
		height: calc(100vh - 100px);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	section:nth-child(odd) {
		background: #4e4646;
	}
	section:nth-child(even) {
		background: #3e3535;
	}

/*#heading {
	width: 120px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	margin-top: 40px;
	}*/

	/*** Responsive Menu For Smaller Device ***/
	@media screen and (max-width: 767px) {
		#menu-toggle {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}

		ul {
			list-style: none;
			display: inline-block;
			width: 100vw;
			height: 0;
			background: #2c2c3c;
			position: absolute;
			top: 160px;
			-webkit-transform: translate(, );
			transform: translate(, );
			-webkit-box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
			box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}
		ul.showMenu {
			height: 250px;
		}
		ul.showMenu li {
			height: 80px;
			opacity: 1;
			visibility: visible;
		}

		li {
			width: 50%;
			height: 80px;
			float: left;
			padding-left: 40px;
			opacity: 0;
			visibility: hidden;
			margin-left: 0;
			-webkit-transition: all 0.3s 0.1s;
			transition: all 0.3s 0.1s;
		}
		li:first-child, li:nth-child(2) {
			margin-top: 70px;
		}
	}
	#socnetwork1 {
		position: fixed;
		right: 2vw;
		bottom: 8vh;
		font-size: 30px;
		color: #fff;	
	}
	#socnetwork2 {
		position: fixed;
		right: 2vw;
		bottom: 2vh;
		font-size: 30px;
		color: #fff;	
	}

	#instagram {
		color: #C838A0;
		font-size:300%;
	}
	#mail {
		color: #f9ac00;
		font-size:300%;	
	}
